// LoginForm.scss
.form-container-signup {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .error-message {
    margin-top: 10px;
    color: #ff0000;
  }
  
  .input-field {
    margin-bottom: 15px;
  }
  
  .submit-button {
    // background-color: #007bff;
    color: #fff;
  }
  

  