.profileForm{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 1rem;
    padding: 0 8rem;
}

.content{
    
    display: flex;
    align-items: center;

    >div{
        &:nth-child(1),
        &:nth-child(2){
            width: 100%;
            margin: 0 !important;
        }

        &:nth-child(2){
            margin-left: 15px !important;
        }

        &:last-of-type{
            margin-left: 15px !important;
        }
    }
}

.confirmationMessage{
    position: absolute;
    top: 5.3rem;
    left: 0;
    right: 0;
    font-size: 12px;
    color: green;
}