@import "../../scss/colors.scss";

.prediction-result {
  border: 1px solid #ccc;
  border-radius: 8px;

  .prediction-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: $blue;
  }

  .incorrect-prediction{
    font-size: 0.8rem;
    color: red;
  }

  .more-options{
    font-size: 0.8rem;
    color: $orange;
    cursor: pointer;
  }

  hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 10px 0;
  }

  p {
    margin: 8px 0;
    color: $orange;
    b {
      font-weight: bold;
    }
  }
}

.calculate-button {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: $orange;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.calculate-button:hover {
  background-color: $dark-orange;
}

.form-container-macros {
  max-width: 40rem;
  margin: 0 auto 2rem auto;
  padding: 20px;
}

.form-macros {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 3rem;

  .macros-title {
    color: $blue;
  }

  > label {
    width: 30rem;
    margin-bottom: 1rem;
  }
}

.macros-info {
  margin-bottom: 2rem;
  padding: 0 5rem;
}

.calculated-macros {
  margin: 2rem 0;
  padding: 0 5rem;
}
.login-register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 3rem;
}
.login-register {
  color: red;
  margin: 1rem 0;
  font-size: 1rem;
}

