// ImageUploadComponent.scss

.image-upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;

  .image-upload-input {
    margin-bottom: 20px;
  }

  .selected-image-container {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;

    .selected-image {
      max-width: 100%;
      max-height: 400px;
      margin-bottom: 10px;
    }

    .button-container {
      position: absolute;
      top: 10px;
      right: 10px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .upload-button,
      .delete-button {
        margin-bottom: 10px;
        padding: 10px;
        background-color: #3498db;
        color: #fff;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: #2980b9;
        }
      }

      .delete-button {
        background-color: #e74c3c;

        &:hover {
          background-color: #c0392b;
        }
      }
    }

    .loading-message {
      margin-top: 10px;
      color: #3498db;
    }
  }
}

.prediction-button {
  padding: 10px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 5px;
}

.image-upload-input {
  display: none; // Oculta el input original
}

.custom-image-upload {
  display: inline-block;
  padding: 12px 0;
  font-size: 16px;
  color: #fff;
  width: 20rem;
  background-color: #40bee1;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #4fa3d1;
  }

  &:focus {
    outline: none;
    border-color: #2c3e50;
  }
}

// Estilos adicionales para el label
.custom-image-upload-label {
  display: inline-block;
  cursor: pointer;
  margin-bottom: 2rem;  
}
