@import "./index.scss";
@import "./semantic-ui/index.scss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    margin: 0;
    background-color: $white;
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4{
    margin: 0;
    color: $default-blue;
}

p{
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

a{
    margin: 0;
    color: $medium-purple;
}
a:hover{
    color: $dark-blue;
}