// @import "~/src/scss/index.scss";

.account {
  display: flex;

  button {
    background-color: transparent !important;

    &:hover {
      > i {
        color: blue;
      }
    }
    > i{
        font-size: 1.3rem;
        color: white;
        height: 1.4rem !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }
  }

  .user {
    background-color: transparent !important;
    font-size: 1.3rem;
    color: white;
    &:hover{
        color: blue;
    }
    p{
      font-size: 1.2rem;
      font-weight: lighter;
    }
  }
}
