@import '../../scss/colors.scss';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 5rem;
  }
  
  h1, p {
    margin-bottom: 20px;
  }

  h1{
    color: $blue;
  }