@import "../../../scss/colors.scss";
.card {
    border: 1px solid #ddd;
    padding: 2rem 3rem;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    .text {
      font-size: 1rem;
    }
      
    .updatedAt {
      color: $blue;
      font-size: 12px;
    }
  }
  