@import "./scss/colors.scss";

.topBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1.3rem 0;
    z-index: 5;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 5rem;
  }
  
.menuItem {
  font-size: 1.1rem;
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: underline;
    color: $orange; /* Color al pasar el ratón */
  }

  &.active {
    color: $orange; /* Color cuando está activo */
  }

  &.visited {
    color: black; /* Color cuando está visitado */
  }
}
  .left {
    display: flex;
    gap: 1rem;
    width: 30%;
    padding-left: 5rem;
    a{
      margin-top: auto;
      font-size: 1.4rem;
      color: $orange;
      font-weight: bold;
      &:hover {
        color: $orange; /* Color al pasar el ratón */
      }
    }
  }

  .center {
    color: black;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 40%;
    gap: 2rem;
  }
  
  .right {
    color: black;
    display: flex;
    width: 30%;
    gap: 1rem;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5rem;
  }
  