.topBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1.3rem 0;
    z-index: 5;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 5rem;
  }
  
  a {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  
  a:hover {
    text-decoration: underline;
    color: rgb(0, 0, 0);
  }

  a:visited {
    color: rgb(0, 0, 0);
  }
  
  .left {
    display: flex;
    gap: 1rem;
    width: 30%;
    padding-left: 5rem;
    a{
      font-size: 1.3rem;
  
    }
  }

  .center {
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    text-align: center;
    width: 40%;
    gap: 2rem;
  }
  
  .right {
    color: rgb(0, 0, 0);
    display: flex;
    width: 30%;
    gap: 1rem;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5rem;
  }
  