.user-bmi-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;

  h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 8px;
  }

  .form-container {
    margin-top: 20px;

    button {
      background-color: #4caf50;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;

      &:hover {
        background-color: #45a049;
      }
    }
  }

  .user-bmi-data {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    p {
      margin: 0;
      font-size: 16px;
  
      b {
        color: #ff8400;
      }
    }
  }

  .prediction-bmi {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    p {
      margin: 0;
      font-size: 16px;
  
      b {
        color: #ff8400;
      }
    }
  }
}


