// styles.scss

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .button-container {
    margin: 1rem 0;
}
  
  button {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
  }
  
  .response{
    margin-top: 2rem;
    width: 60%;
    border: 1px solid #eaeaea;
    border-radius: 8px;
    padding: 1rem 3rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  input[type="radio"] {
    margin: 10px 10px;
    margin-right: 5px;
  }
  
  #estilo{
    margin-top: 5%;
  }

  #boton{
    margin-top: 5%;
    margin-left: 10px;
  }

  #boton:hover{
    background-color: #0a6e66;
    color: #eaeaea;
  }