@import "../../scss/colors.scss";
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
    

.iconUser{
    background-color: $orange !important;
    color: white !important;
    cursor: auto !important;
    >i{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.username{
    font-size: 1.5rem;
    margin: 0;
    color: $orange;
}

.name{
    font-size: 1.3rem;
    margin: 10px 0 0 0;
}

.email{
    font-size: 1rem;
    margin: 10px 0 0 0;
}

.createdAt{
    color: $blue;
    font-size: 0.8rem;
    margin: 10px 0 0 0;
}

.user-personal-data{
    display: flex;
    gap: 2rem;

}

.title{
    font-size: 1.8rem;
    color: $blue;
    margin: 10px 0;
}