
.tabs{
    position: relative;
    margin-top: 50px;
    >div{
        display: flex;
        justify-content: flex-end;
        >a{
            &:first-of-type{
                position: absolute !important;
                left: 0;
            }
            &:nth-of-type(2){
                position: absolute !important;
                left: 6rem;
            }
    }
}}

.containerForms{
    margin-top: 50px;
}

.contentProfile{
    display: flex;
    flex-direction: column;
    margin: 0 10rem;
}